:host {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.hlm-pill-toggle {
  --hlm-pill-toggle-width: auto;
  --hlm-toggle-group-width: auto;
  min-inline-size: auto;
}
