<div class="project-color-picker option-menu-surface" role="menu" aria-label="Project color">
  <div class="project-color-picker__list flex flex-col">
    <button hlmMenuItem class="w-full" type="button" (click)="pickRandomBrandHue()">
      <span class="material-icons option-menu-list__item-icon" aria-hidden="true">palette</span>
      <span class="min-w-0 flex-1 text-left">Random brand hue</span>
      <span
        class="ml-auto shrink-0 project-color-picker__swatch"
        [style.background]="previewColor()"
      ></span>
    </button>
  </div>
</div>
