<div class="page-grid">
  @if (leftRail()) {
    <div class="page-grid__rail page-grid__rail--left">
      <ng-content select="[pageGridLeft]" />
    </div>
  }

  <div
    class="page-grid__rail page-grid__rail--center"
    [class.page-grid__rail--center-expanded]="centerExpanded() && !rightRailOpen()"
  >
    <ng-content select="[pageGridCenter]" />
  </div>

  @if (rightRailOpen()) {
    <div class="page-grid__rail page-grid__rail--right">
      <ng-content select="[pageGridRight]" />
    </div>
  }
</div>
