<div class="page-grid">
  <div class="page-grid__rail page-grid__rail--left" [hidden]="!leftRail()">
    <ng-content select="[pageGridLeft]" />
  </div>

  <div
    class="page-grid__rail page-grid__rail--center"
    [class.page-grid__rail--center-expanded]="centerExpanded() && !rightRailOpen()"
    [class.page-grid__rail--center-flush]="flushBottom()"
  >
    <ng-content select="[pageGridCenter]" />
  </div>

  <div class="page-grid__rail page-grid__rail--right" [hidden]="!rightRailOpen()">
    <ng-content select="[pageGridRight]" />
  </div>
</div>
