<div class="standard-dropdown">
  @if (showSearch()) {
    <div class="dd-search">
      <input
        class="dd-search__input"
        type="text"
        [placeholder]="searchPlaceholder()"
        [value]="searchTerm()"
        (input)="searchTermChange.emit($any($event.target).value)"
      />

      @if (showDefaultClearAction() && searchTerm()) {
        <button
          uiIconButtonGhost
          class="dd-search__action icon-btn-ghost"
          type="button"
          [attr.aria-label]="clearSearchAriaLabel()"
          (click)="clearRequested.emit()"
        >
          <span class="material-icons" aria-hidden="true">close</span>
        </button>
      }

      <ng-content select="[dropdown-search-action]" />
    </div>
  }

  <div [class]="itemsHostClass()">
    <ng-content select="[dropdown-items]" />
  </div>

  @if (actionLabel()) {
    <button class="dd-action-row" type="button" (click)="actionRequested.emit()">
      <span class="material-icons" aria-hidden="true">{{ actionIcon() }}</span>
      {{ actionLabel() }}
    </button>
  }
</div>
