<app-card-grid tag="ul" minColumnWidth="128px" role="listbox" [variant]="variant()">
  @for (item of items(); track item.id) {
    <li
      class="media-grid__item"
      (click)="onItemClicked(item.id)"
      (keydown)="onItemKeydown($event, item.id)"
      [class.media-grid__item--selected]="workspaceSelectionService.isSelected(item.id)"
      tabindex="0"
      role="option"
      [attr.aria-selected]="workspaceSelectionService.isSelected(item.id)"
    >
      <app-media-card [item]="item" [variant]="variant()" />
    </li>
  }
</app-card-grid>
