<app-card-grid tag="ul" minColumnWidth="128px" role="listbox">
  @for (item of items(); track item.id) {
    <li
      class="media-grid__item"
      (click)="onItemClicked(item.id)"
      (keydown)="onItemKeydown($event, item.id)"
      [class.media-grid__item--selected]="workspaceSelectionService.isSelected(item.id)"
      tabindex="0"
      role="option"
      [attr.aria-selected]="workspaceSelectionService.isSelected(item.id)"
    >
      <div class="media-card">
        <img [src]="item.thumbnail_path || ''" [alt]="item.address_label || 'Media item'" />
        <div class="media-card__info">
          <p class="media-card__title">{{ item.address_label }}</p>
          <p class="media-card__date">{{ formatDate(item.captured_at) }}</p>
        </div>
      </div>
    </li>
  }
</app-card-grid>
